<div class="login-container">
    <div class="login-form">
    <div class="row justify-content-start">
      <div class="col-4">
        <label>Username:
          <input class="username" matInput [formControl]='username'>
        </label>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-4">
        <label>Password:
          <input class="password" matInput type = 'password' [formControl]='password'>
        </label>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <button class="btn btn-primary" (click)="loginSubmit()">Submit</button>
      </div>
    </div>
  </div>
  </div>
  <div style="text-align:center">
    <label class="error-message">{{ submitMessage }}</label>
  </div>