<!-- Label to display any error messages -->
<div style="text-align:center">
    <label class="error-message">{{ errMessage }}</label>
</div>
<!-- Expansion panel to add new notes -->
<div style="text-align:center">
    <div class="note-container">
        <mat-expansion-panel class="note-expansion-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>Take a note</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="note-mat-form-field">
                <mat-form-field>
                    <input matInput name="title" placeholder="Enter Title" [(ngModel)]="note.title">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput name="text" placeholder="Enter Description" [(ngModel)]="note.text"></textarea>
                </mat-form-field>
            </div>
            <button mat-button (click)="addNote()">Done</button>
        </mat-expansion-panel>
    </div>
    <div>
    </div>

    <div class="note-mat-card-list">
        <mat-list *ngFor="let note of notes">
            <mat-list-item>
                <mat-card>
                    <mat-card-title>{{note.title}}</mat-card-title>
                    <mat-card-content>{{note.text}}</mat-card-content>
                </mat-card>
            </mat-list-item>
        </mat-list>
    </div>
</div>






<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->