.note-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-expansion-panel
{
    margin: 0% auto;
    width: 70vw;
}

.note-mat-form-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-mat-card-list{
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}